n8n/africod-congo-sync.workflow.json
{
  "name": "Africod Congo (AfriqueCOD) → Supabase sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "d4d4d4d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "africod_congo_email",
              "value": "COLLEZ_L_EMAIL_AFRICOD_CONGO_ICI",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "africod_congo_password",
              "value": "COLLEZ_LE_MOT_DE_PASSE_ICI",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "supabase_url",
              "value": "https://VOTRE-PROJET.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "supabase_service_role_key",
              "value": "COLLEZ_VOTRE_SUPABASE_SERVICE_ROLE_KEY_ICI",
              "type": "string"
            }
          ]
        }
      },
      "id": "d4d4d4d4-0002-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, 0],
      "notes": "Compte AfriqueCOD (api.afriquecod.com) séparé de Coliscod Angola (marché Congo, id 17, devise XAF). Ne mettez jamais le vrai mot de passe dans une copie de ce fichier suivie par git — seulement dans le nœud, une fois importé dans votre instance n8n."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.item.json;\n\n// Attention à l'orthographe : \"afriquecod\" (français), pas \"africacod\" — confirmé par une\n// requête réseau réelle capturée depuis manager.afriquecod.com.\nconst BASE = \"https://api.afriquecod.com/api\";\nconst ORIGIN = \"https://manager.afriquecod.com\";\nconst SUPABASE_URL = cfg.supabase_url;\nconst SUPABASE_SERVICE_ROLE_KEY = cfg.supabase_service_role_key;\nconst PER_PAGE = 100;\nconst UPSERT_BATCH_SIZE = 500;\nconst PAGE_DELAY_MS = 400; // petite pause entre pages pour rester sous la limite Cloudflare (~120 req)\n// Fenêtre glissante (2026-07-14) : le rescan complet depuis 2025-07-01 à chaque exécution a fini\n// par dépasser le timeout n8n de 300s (l'historique à reparcourir grandit chaque jour, sans borne\n// haute). Un rescan complet unique a été fait manuellement (timeout augmenté pour l'occasion) ;\n// désormais chaque exécution planifiée ne rescanne que les ROLLING_WINDOW_DAYS derniers jours —\n// marge choisie par le CEO au-delà des délais de confirmation/livraison observés (\"plusieurs\n// semaines\"), largement suffisante pour capter tout changement de statut sur une commande encore\n// active, tout en gardant chaque run rapide.\nconst ROLLING_WINDOW_DAYS = 90;\nconst MIN_ORDER_DATE = new Date(Date.now() - ROLLING_WINDOW_DAYS * 24 * 60 * 60 * 1000)\n  .toISOString()\n  .slice(0, 10);\n\n// L'API est derrière Cloudflare : un User-Agent \"nu\" (client HTTP par défaut) se fait\n// bloquer plus facilement qu'un User-Agent de navigateur.\nconst USER_AGENT =\n  \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36\";\n\n// Marché Congo sur le compte AfriqueCOD dédié (distinct du compte Coliscod Angola).\n// Objet complet capturé depuis une requête réseau réelle — envoyé tel quel, sans\n// supposer quels champs le backend valide ou non.\nconst COUNTRIES = [\n  {\n    id: 17,\n    old_id: \"65dfdf15de9227002ef02de4\",\n    name: \"Congo\",\n    currency: \"XAF\",\n    currency_exchange_rate: 1,\n    flag: \"CG\",\n    phone_code: null,\n    timezone: \"Africa/Brazzaville\",\n    created_at: \"2024-06-29T12:44:04.000000Z\",\n    updated_at: \"2024-06-29T12:44:04.000000Z\",\n    deleted_at: null,\n  },\n];\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction bodyPreview(body) {\n  try {\n    return JSON.stringify(body).slice(0, 500);\n  } catch {\n    return String(body).slice(0, 500);\n  }\n}\n\nasync function africodLogin() {\n  const res = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `${BASE}/login`,\n    headers: {\n      \"Content-Type\": \"application/json\",\n      Accept: \"application/json\",\n      \"User-Agent\": USER_AGENT,\n      Origin: ORIGIN,\n      Referer: `${ORIGIN}/`,\n    },\n    body: { email: cfg.africod_congo_email, password: cfg.africod_congo_password },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  if (res.statusCode < 200 || res.statusCode >= 300) {\n    throw new Error(`POST /login → HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n  }\n\n  const token = res.body && res.body.token;\n  if (!token) {\n    throw new Error(`POST /login → 200 mais pas de champ token: ${bodyPreview(res.body)}`);\n  }\n  return token;\n}\n\n// Retry avec backoff sur 403/429 (Cloudflare / rate limit) — jusqu'à 3 tentatives.\nasync function fetchOrdersPage(token, country, page) {\n  let attempt = 0;\n\n  while (true) {\n    const res = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `${BASE}/orders-paginated`,\n      qs: { per_page: PER_PAGE, page, orders_type: \"leads\" },\n      headers: {\n        Authorization: `Bearer ${token}`,\n        Accept: \"application/json\",\n        \"User-Agent\": USER_AGENT,\n        \"X-Selected-Country\": JSON.stringify(country),\n        Origin: ORIGIN,\n        Referer: `${ORIGIN}/`,\n      },\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n\n    if (res.statusCode === 403 || res.statusCode === 429) {\n      attempt += 1;\n      if (attempt > 3) {\n        throw new Error(`GET /orders-paginated (page ${page}) → HTTP ${res.statusCode} après 3 tentatives: ${bodyPreview(res.body)}`);\n      }\n      await sleep(1500 * attempt);\n      continue;\n    }\n\n    if (res.statusCode < 200 || res.statusCode >= 300) {\n      throw new Error(`GET /orders-paginated (page ${page}) → HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n    }\n\n    return res.body;\n  }\n}\n\nconst allRows = [];\nconst errors = [];\nconst perCountry = [];\n\nif (!cfg.africod_congo_email || !cfg.africod_congo_password) {\n  errors.push({ country: \"ALL\", message: \"africod_congo_email / africod_congo_password manquants dans le nœud 'Config'.\" });\n} else {\n  let token = null;\n\n  // ─── 1. Login ──────────────────────────────────────────────────────────\n  try {\n    token = await africodLogin.call(this);\n  } catch (err) {\n    errors.push({ country: \"ALL\", message: `Login initial échoué — ${err.message}` });\n  }\n\n  // ─── 2. Pour chaque pays, paginer /orders-paginated jusqu'à la dernière page ───\n  if (token) {\n    for (const country of COUNTRIES) {\n      let fetched = 0;\n      let apiTotal = null;\n      \n\n      try {\n        let page = 1;\n        let lastPage = 1;\n\n        do {\n          const data = await fetchOrdersPage.call(this, token, country, page);\n          const pagination = data.pagination || {};\n          lastPage = pagination.last_page ?? 1;\n          if (apiTotal === null) apiTotal = pagination.total ?? null;\n\n          const pageRows = [];\n\n          for (const o of data.orders || []) {\n            const firstItem =\n              Array.isArray(o.order_items) && o.order_items.length > 0 ? o.order_items[0] : null;\n            const productName = firstItem?.product?.name ?? null;\n            const agentName = o.confirmation_agent?.username ?? null;\n            const orderDate = o.order_date ? String(o.order_date).slice(0, 10) : null;\n            if (!orderDate || orderDate < MIN_ORDER_DATE) continue;\n\n            pageRows.push({\n              order_id: o.order_id,\n              internal_id: o.id,\n              country_id: country.id,\n              country_name: o.country?.name ?? country.name,\n              customer_name: o.customer_name ?? null,\n              customer_phone: o.customer_phone_1 ?? null,\n              customer_city: o.customer_city ?? null,\n              total_price: o.total_price ?? 0,\n              quantity: o.quantity ?? null,\n              confirmation_status: o.confirmation_status?.name ?? null,\n              shipping_status: o.shipping_status?.name ?? null,\n              seller_payment_status: o.seller_payment_status ?? null,\n              product_name: productName,\n              confirmation_agent: agentName,\n              order_date: orderDate,\n              order_created_at: o.created_at ?? null,\n              confirmed_at: o.confirmed_at ?? null,\n              delivered_at: o.delivered_at ?? null,\n            });\n          }\n\n          allRows.push(...pageRows);\n          fetched += pageRows.length;\n\n          page += 1;\n          // Pause entre pages seulement s'il en reste — inutile d'attendre après la dernière.\n          if (page <= lastPage) await sleep(PAGE_DELAY_MS);\n        } while (page <= lastPage);\n      } catch (err) {\n        // Une erreur sur un pays ne doit pas empêcher les autres d'être synchronisés.\n        errors.push({ country: country.name, message: err.message });\n      }\n\n      // Visible même sans erreur HTTP : si apiTotal vaut 0 (ou fetched reste à 0 alors\n      // qu'apiTotal > 0), ça pointe vers un problème d'accès plutôt qu'un bug de code.\n      perCountry.push({ country: country.name, apiTotal, fetched });\n    }\n  }\n}\n\n// ─── 3. Upsert en masse vers Supabase, par lots de 500 lignes ─────────────\n// Chaque lot est tenté indépendamment : si l'un échoue, les suivants sont quand même envoyés.\n// Dédup par order_id d'abord : la pagination Congo peut chevaucher deux pages (un agent\n// confirme une commande pendant le scan complet, ce qui la fait bouger dans le tri de l'API),\n// et on ne veut pas que la même commande apparaisse deux fois dans un même lot (Postgres refuse\n// \"ON CONFLICT DO UPDATE ... affect row a second time\" dans ce cas — observé en production).\n// On garde la dernière occurrence.\nconst dedupedRows = Array.from(new Map(allRows.map((r) => [r.order_id, r])).values());\n\nlet upserted = 0;\n\nfor (let i = 0; i < dedupedRows.length; i += UPSERT_BATCH_SIZE) {\n  const batch = dedupedRows.slice(i, i + UPSERT_BATCH_SIZE);\n\n  try {\n    const res = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: `${SUPABASE_URL}/rest/v1/africod_congo_leads`,\n      headers: {\n        \"Content-Type\": \"application/json\",\n        apikey: SUPABASE_SERVICE_ROLE_KEY,\n        Authorization: `Bearer ${SUPABASE_SERVICE_ROLE_KEY}`,\n        Prefer: \"resolution=merge-duplicates,return=minimal\",\n      },\n      body: batch,\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n\n    if (res.statusCode < 200 || res.statusCode >= 300) {\n      throw new Error(`HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n    }\n\n    upserted += batch.length;\n  } catch (err) {\n    errors.push({ country: \"SUPABASE_UPSERT\", message: `lot ${i}-${i + batch.length}: ${err.message}` });\n  }\n}\n\nreturn [\n  {\n    json: {\n      synced_orders: upserted,\n      countries: COUNTRIES.map((c) => c.name),\n      perCountry,\n      errors,\n      finished_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "d4d4d4d4-0003-4000-8000-000000000003",
      "name": "Sync Africod Congo → Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0],
      "notes": "Login (POST /login, token à la racine du corps), puis pagine GET /orders-paginated (orders_type=leads, filtré à partir de MIN_ORDER_DATE = aujourd'hui - ROLLING_WINDOW_DAYS = 90 jours, recalculé à chaque exécution) pour le marché Congo (X-Selected-Country: {id:17,name:Congo,currency:XAF}) avec User-Agent navigateur + retry backoff sur 403/429 (Cloudflare). Rescan glissant sur les 90 derniers jours à chaque exécution (2026-07-14, remplace le rescan complet depuis 2025-07-01 qui dépassait le timeout n8n de 300s à mesure que l'historique grandissait) : reparcourt les commandes récentes à chaque run pour que leur statut soit toujours à jour si l'API a changé côté source ; un rescan complet ponctuel (fenêtre manuelle, timeout augmenté) reste nécessaire de temps en temps pour rafraîchir l'historique plus ancien. Dédup par order_id avant l'upsert (une commande peut apparaître deux fois si elle bouge de page pendant le scan). Aplatit chaque commande sur les colonnes de africod_congo_leads et upsert vers Supabase par lots de 500, chacun isolé dans son propre try/catch. Erreurs poussées dans 'errors' plutôt que de faire planter tout le nœud."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Sync Africod Congo → Supabase", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
