n8n/shipsen-leads-sync.workflow.json
{
  "name": "Shipsen Leads (Orders) → Supabase sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "c3c3c3c3-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "shipsen_email",
              "value": "COLLEZ_L_EMAIL_SHIPSEN_ICI",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "shipsen_password",
              "value": "COLLEZ_LE_MOT_DE_PASSE_SHIPSEN_ICI",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "supabase_url",
              "value": "https://VOTRE-PROJET.supabase.co",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "supabase_service_role_key",
              "value": "COLLEZ_VOTRE_SUPABASE_SERVICE_ROLE_KEY_ICI",
              "type": "string"
            }
          ]
        }
      },
      "id": "c3c3c3c3-0002-4000-8000-000000000002",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, 0],
      "notes": "Mêmes identifiants Shipsen que n8n/shipsen-sync.workflow.json (un seul compte pour les 4 warehouses, /users/login). Ne mettez jamais le vrai mot de passe dans une copie de ce fichier suivie par git — seulement dans le nœud, une fois importé dans votre instance n8n."
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.item.json;\n\nconst SHIPSEN_BASE = \"https://api.shipsen.com\";\nconst SUPABASE_URL = cfg.supabase_url;\nconst SUPABASE_SERVICE_ROLE_KEY = cfg.supabase_service_role_key;\nconst LIMIT = 100;\nconst UPSERT_BATCH_SIZE = 500;\nconst MIN_ORDER_DATE = \"2025-07-01\"; // même plancher que shipsen-sync.workflow.json (shippings)\nconst TOKEN_MAX_AGE_MS = 4 * 60 * 1000; // re-login défensif si un cycle traîne\n\n// Un seul compte Shipsen (email/mot de passe) donne accès aux 4 warehouses — mêmes identifiants\n// que n8n/shipsen-sync.workflow.json.\nconst WAREHOUSES = [\n  { country: \"Mali\", currency: \"XOF\", warehouse: \"619ff174286e83d6aa8f60ba\" },\n  { country: \"Guinea\", currency: \"GNF\", warehouse: \"61ceeaa3d08e37d6dca5f6b9\" },\n  { country: \"Senegal\", currency: \"XOF\", warehouse: \"61cee91cd08e37d6dca5e4fb\" },\n  { country: \"CoteIvoire\", currency: \"XOF\", warehouse: \"619ed4e22c5c08be6fcfd977\" },\n];\n\nfunction findHeader(headers, name) {\n  const key = Object.keys(headers || {}).find((k) => k.toLowerCase() === name.toLowerCase());\n  return key ? headers[key] : undefined;\n}\n\nfunction bodyPreview(body) {\n  try {\n    return JSON.stringify(body).slice(0, 500);\n  } catch {\n    return String(body).slice(0, 500);\n  }\n}\n\nasync function shipsenLogin() {\n  const res = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: `${SHIPSEN_BASE}/users/login`,\n    headers: { \"Content-Type\": \"application/json;charset=utf-8\" },\n    body: { email: cfg.shipsen_email, password: cfg.shipsen_password },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  if (res.statusCode < 200 || res.statusCode >= 300) {\n    throw new Error(`POST /users/login → HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n  }\n\n  // Même particularité que shipsen-sync.workflow.json : le token est dans le corps JSON\n  // (headers.X-Auth-Token), pas dans un vrai header HTTP.\n  const token = findHeader(res.body && res.body.headers, \"X-Auth-Token\");\n  if (!token) {\n    throw new Error(`POST /users/login → 200 mais pas de headers.X-Auth-Token: ${bodyPreview(res.body)}`);\n  }\n  return token;\n}\n\nconst allRows = [];\nconst errors = [];\nconst perWarehouse = [];\n\nif (!cfg.shipsen_email || !cfg.shipsen_password) {\n  errors.push({ country: \"ALL\", message: \"shipsen_email / shipsen_password manquants dans le nœud 'Config'.\" });\n} else {\n  let token = null;\n  let tokenIssuedAt = 0;\n\n  try {\n    token = await shipsenLogin.call(this);\n    tokenIssuedAt = Date.now();\n  } catch (err) {\n    errors.push({ country: \"ALL\", message: `Login initial échoué — ${err.message}` });\n  }\n\n  // ─── Pour chaque warehouse, paginer /orders/search jusqu'à la dernière page ───\n  if (token) {\n    for (const wh of WAREHOUSES) {\n      let fetched = 0;\n      let apiTotal = null;\n\n      try {\n        let page = 1;\n        let lastPage = 1;\n\n        do {\n          if (Date.now() - tokenIssuedAt > TOKEN_MAX_AGE_MS) {\n            token = await shipsenLogin.call(this);\n            tokenIssuedAt = Date.now();\n          }\n\n          const res = await this.helpers.httpRequest({\n            method: \"GET\",\n            url: `${SHIPSEN_BASE}/orders/search`,\n            qs: { warehouse: wh.warehouse, limit: LIMIT, page },\n            headers: { \"X-Auth-Token\": token },\n            json: true,\n            returnFullResponse: true,\n            ignoreHttpStatusErrors: true,\n          });\n\n          if (res.statusCode < 200 || res.statusCode >= 300) {\n            throw new Error(`GET /orders/search (page ${page}) → HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n          }\n\n          const content = (res.body && res.body.content) || {};\n          lastPage = content.last_page ?? 1;\n          if (apiTotal === null) apiTotal = content.total ?? null;\n\n          for (const o of content.results || []) {\n            const firstItem = Array.isArray(o.details) && o.details.length > 0 ? o.details[0] : null;\n            // order.date est la date de commande individuelle réelle — order.createdAt s'est avéré\n            // identique sur plusieurs commandes différentes dans un échantillon audité (probable\n            // timestamp d'import en lot, pas fiable par commande).\n            const orderDateIso = o.date ?? null;\n            const orderDate = orderDateIso ? String(orderDateIso).slice(0, 10) : null;\n            if (!orderDate || orderDate < MIN_ORDER_DATE) continue;\n\n            allRows.push({\n              mongo_id: o._id,\n              order_id: o.id ?? o._id,\n              country: wh.country,\n              currency: wh.currency,\n              warehouse_id: o.warehouse?._id ?? wh.warehouse,\n              customer_name: o.customer?.fullName ?? null,\n              customer_phone: o.customer?.phoneNormalized ?? o.customer?.phone ?? null,\n              product_name: firstItem?.productName ?? null,\n              quantity: firstItem?.quantity ?? null,\n              unit_price: firstItem?.unitPrice ?? null,\n              total_price: o.totalPrice ?? 0,\n              status_name: o.status?.name ?? \"Unknown\",\n              order_date: orderDateIso,\n              created_at: o.createdAt ?? null,\n              updated_at: o.updatedAt ?? null,\n            });\n            fetched += 1;\n          }\n\n          page += 1;\n        } while (page <= lastPage);\n      } catch (err) {\n        errors.push({ country: wh.country, message: err.message });\n      }\n\n      perWarehouse.push({ country: wh.country, warehouse: wh.warehouse, apiTotal, fetched });\n    }\n  }\n}\n\n// ─── Upsert en masse vers Supabase, par lots de 500 lignes ─────────────\n// Dédup par mongo_id (la vraie clé primaire — l'_id de l'ORDER, unique globalement).\nconst dedupedRows = Array.from(new Map(allRows.map((r) => [r.mongo_id, r])).values());\n\nlet upserted = 0;\n\nfor (let i = 0; i < dedupedRows.length; i += UPSERT_BATCH_SIZE) {\n  const batch = dedupedRows.slice(i, i + UPSERT_BATCH_SIZE);\n\n  try {\n    const res = await this.helpers.httpRequest({\n      method: \"POST\",\n      url: `${SUPABASE_URL}/rest/v1/shipsen_leads`,\n      headers: {\n        \"Content-Type\": \"application/json\",\n        apikey: SUPABASE_SERVICE_ROLE_KEY,\n        Authorization: `Bearer ${SUPABASE_SERVICE_ROLE_KEY}`,\n        Prefer: \"resolution=merge-duplicates,return=minimal\",\n      },\n      body: batch,\n      json: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n    });\n\n    if (res.statusCode < 200 || res.statusCode >= 300) {\n      throw new Error(`HTTP ${res.statusCode}: ${bodyPreview(res.body)}`);\n    }\n\n    upserted += batch.length;\n  } catch (err) {\n    errors.push({ country: \"SUPABASE_UPSERT\", message: `lot ${i}-${i + batch.length}: ${err.message}` });\n  }\n}\n\nreturn [\n  {\n    json: {\n      synced_orders: upserted,\n      warehouses: WAREHOUSES.map((w) => w.country),\n      perWarehouse,\n      errors,\n      finished_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "c3c3c3c3-0003-4000-8000-000000000003",
      "name": "Sync Shipsen Leads → Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0],
      "notes": "Se connecte (POST /users/login, même mécanisme que shipsen-sync.workflow.json), puis pagine GET /orders/search (page 'Orders', univers complet des commandes confirmées ou non — DISTINCT de /shippings/search) pour les 4 warehouses. Ignore toute commande dont order.date est antérieur à MIN_ORDER_DATE (2025-07-01). Aplatit chaque commande sur les colonnes de shipsen_leads (statut de CONFIRMATION : Pending/Cancelled/Unreached/En attente de dépot/Confirmed/Expired — vocabulaire audité en direct sur données réelles) et upsert vers Supabase par lots de 500. Alimente 'Total commande'/'Commandes confirmées'/'Annulées' du tableau CEO ; 'Livrées'/CA restent sur shipsen_orders (shippings, voir shipsen-sync.workflow.json)."
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Sync Shipsen Leads → Supabase", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}